
<h1 class="welcomeMessage">welcome <%= current_user.name %></h1>
<p class="profileMessage">Welcome to your moe diesel profile here you can add your vehicle and manage your infomation needed to make a quick booking<br /> without having to fill out forms everytime you book! </p>
<a class="addVehicleButton" href="/profile/add_car"> Add your Vehicle</a>

<% @cars.each do |car| %>
  <section class= "cards">
  <div class="carDetailBlock">

  <h2 class="carDetail">Make: <%= car.make %></h2>
  <h2 class="carDetail">Year: <%= car.year %></h2>
  <h2 class="carDetail">Car rego: <%= car.registration %></h2>

  <a class="editInfoBtn" href="/profile/edit">Edit your Infomation</a>
  </div>

 <% if  session[:user_id]%>

  <form action="/cars/<%= car.id %>" method="post">
    <input type="hidden" name="client_id" value="<%= current_user.id %>">
    <input type="hidden" name="_method" value="delete">
    <button class="deleteCarBtn" type="submit">Delete this car</button>
  </form>
 <% end %>

 <h2>Make a booking</h2>
 <form action="/booking/<%= car.id%>" method="post">
   <input type="hidden" name="car_id" value="<%= car.id %>">
   <input type="hidden" name="client_id" value="<%= current_user.id%>">
   <input type="date" name="date_booked" value="">
   <h2>Enter your current issue</h2>
   <textarea name="issue" rows="8" cols="80"></textarea>

   <button class="bookCarBtn" type="submit">book your service</button>
 </form>

  <%# @bookings = Booking.where(car_id: car.id) %>
  <% car.bookings.each do |booking| %>
   <h2>Next service</h2>
   <h2><%= booking.date_booked %></h2>
   <p><%= booking.issue %></p>

   <form action="/booking/<%= booking.id %>" method="post">
     <input type="hidden" name="client_id" value="<%= current_user.id %>">
     <input type="hidden" name="_method" value="delete">
     <button class="deletebookingBtn" type="submit"> delete booking </button>
   </form>

  <% end %>
</section>
<% end %>
